*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
#navbar{
  position: fixed;
  z-index: 2;
  width: 100vw;
  background-color: white;
}
nav{ 
  
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo{
  position: absolute;
  left: 0;
  

}
.left-nav{
  margin-left: 200px;
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-size: 0.8rem;
}
.left-nav a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}
.left-nav a:hover{
  color: #F97C1A;
}
.logo img{
  margin-left: 20px;
  width: 180px;
  height: 80px;
}
.right-nav__items{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
}
.right-nav__items input[type="text"]{
  height: 25px;
  width: 250px;
  
  border: 2px solid #DEDEDE;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  flex-basis: 10px;
}
.right-nav__items input[type="text"]:focus{
  outline: none;
}
.right-nav__items button:first-of-type{
  width: 130px;
  height: 30px;
  background: transparent;
  border: 1px solid #F97C1A;
  color: #F97C1A;
  border-radius: 40px;

  
}
.right-nav__items button:first-of-type:hover{
  background-color: #F97C1A;
  color: white;
}
.right-nav__items button:last-of-type{
  width: 130px;
  height: 30px;
  background-color: #F97C1A;
  border: 1px solid #F97C1A;
  color: white;
  border-radius: 40px;
}
.right-nav__items button:last-of-type:hover{
  background-color: #EA7326;
  color: white;
}
.right-nav__items button:last-of-type a{
  color: white;
  
}
.right-nav__items button:last-of-type a:hover{
  text-decoration: none;
}
.burger{
  display: none;
}
#slider-section .mobile{
  display: none;
}
.burger div:not(.line2){
  width: 25px;
  height: 1px;
  margin: 5px;
  background-color: #EA7326;
}
.line2{
  width: 35px;
  height: 1px;
  margin: 5px;
  background-color: #EA7326;
}
.arrow{
  margin: 40px auto;
  display: flex;
  justify-content: center;
 
}
.fa-arrow-circle-down{
 color: #F97C1A;
}

#freedom-section h2{
  text-align: center;
  color: #EA7326;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;

}
.freedom-icons__container{
  margin: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.freedom-icons__item{
  display: flex;
  align-items: flex-start;
}
.freedom-icons__image{
  width: 54px;
  height: 54px;
}
.freedom-icons__image img{
  width: 100%;
  height: 100%;
}
.freedom-icons__text{
  padding-left: 20px;
}
.freedom-icons__text h4{
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #EA7326;
}
.freedom-icons__text p{
  font-size: 0.8rem;
  font-family: 'Roboto Condensed', sans-serif;
}
hr{
  margin: 40px auto;
  display: block;
  width: 1000px;
  border-top: 1px dotted;
}
.download-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.download-container__text h3{
  font-weight: 500;
  color: #EA7326;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 30px;
  font-size: 2rem;
}
.download-container__image img:last-of-type{
  display: none;
}
.download-container__text p{
  font-size: 1.5rem;
  color: #EA7326;
  font-family: 'Roboto', sans-serif;
}

.download-buttons{
  margin-right: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-buttons img{
  height: 130px;
  width: 180px;
}

#testimonials-section{
  background-color: #F3F3F3;
  width: 100vw;
  height: 486px;
}
#testimonials-section h3{
  padding: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #EA7326;
  font-size: 2rem;
}
.testimonial-item{
  text-align: center;
}
.testimonial-item img{
  border-radius: 100%;
  border: 5px solid white;
}
.testimonial-item h5{
  color: #838383;
}
.testimonial-item p{
  color: #838383;
}
.get-started:hover{
  text-decoration: none;
}
.get-started button{
  margin: 20px auto;
  display: block;
  width: 170px;
  height: 50px;
  font-size: 0.8rem;
  padding: 5px;
  border-radius: 40px;
  background-color: #F97C1A;
  color: white;
  border: 1px solid #F97C1A;
}
.get-started button:hover{
  background-color: #EA7326;
}
.get-started button:focus{
  outline: none;
}
#feedback-section h1{
  text-align: center;
  padding: 40px;
  color: #F97C1A;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.feedback-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-icons img{
  padding-left: 60px;
  padding-right: 60px;
}
.footer-container{
  max-width: 90%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px ;
  align-items: initial;
  
}
.first-footer-container img{
  height: 60px;
  width: 150px;
  margin-bottom: 15px;
}
.first-footer-container p{
  color: #838383;
  font-size: 1rem;
  font-family:'Roboto Condensed', sans-serif;
}
.first-footer-container h3{
  color: #EA7326;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}
.first-footer-container h2{
  font-size: 1.5rem;
  color: #EA7326;
  font-weight: 500;
}
.second-footer-container-one div{
  display: flex;
  align-items: center;
}
.second-footer-container-one div>h6{
  color: #EA7326; 
}
.second-footer-container-one p{
  color: #838383;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.second-footer-container-two div{
  display: flex;
  align-items: center;
}
.second-footer-container-two div>h6{
  color: #EA7326;
}
.second-footer-container-two p{
  color: #838383;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.fourth-footer-container span{
  color: #EA7326;
  font-size: 1rem;
}
.fourth-footer-container ul{
  color: #838383;
  list-style: none;
  padding-top: 20px;
}
.fifth-footer-container span{
  color: #EA7326;
  font-size: 1rem;
}
.fifth-footer-container ul{
  color: #838383;
  list-style: none;
  padding-top: 20px;
}
footer{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons .fab{
  padding-left: 10px;
}
.footer-text{
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: 'Roboto Condensed', sans-serif;
}
.footer-text a{
  color: black;
  position: relative;
  padding-right: 10px;
}
.footer-text a:hover{
  text-decoration: none;
}
.footer-text a::after{
  content: "";
  position: absolute;
  background-color: #838383;
  width: 2px;
  height: 20px;
  right: 3px;
}

  /* Media Query for Tablets Ipads portrait mode */ 
  @media (min-width: 768px) and (max-width: 1024px){ 
    body{
      overflow-x: hidden;
    }
    nav{
      justify-content: space-between;
    }
    .logo{
      margin: 0;
      position: unset;
    }
    .logo img{
      width: 200px;
      height: 70px;
    }
    
    .right-nav__items {
      position: absolute;
      z-index: 1;
      right: 0px;
      height: 46vh;
      top: 15vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color:rgba(255, 255, 255, 0.9);
      width: 100%;
      transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
    .left-nav{
      
      position: absolute;
      z-index: 1;
      right: 0px;
      height: 50vh;
      top: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color:rgba(255, 255, 255, 0.9);
      width: 100%;
      transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }
    .left-nav a{
      font-size: 1.2rem;
    }
    .burger{
      display: block;
      cursor: pointer;
    }
    .nav-active{
      transform: translateX(0%)
    }
   
   .toggle .line1{
     transform: rotate(-45deg) translate(-5px, 3px)
   }
   .toggle .line2{
      opacity: 0;
   }
   .toggle .line3{
     transform: rotate(45deg) translate(-5px, -3px)
   }
   
    hr{
      width: 700px;
    }
    .download-container{
      flex-direction: column;
      text-align: center;
    }
    .download-buttons{
      margin: 0 auto;
    }
} 
 /* Media Query for Mobile Devices */ 
 @media (max-width: 765px){
   body{
     overflow-x: hidden;
   }
   nav{
     
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
   .logo{
     margin: 0;
     position: unset;
   }
   .logo img{
     margin-left: -20px;
     width: 86px;
     height: 34px;
   }
   .right-nav__items {
    position: absolute;
    z-index: 1;
    right: 0px;
    height: 46vh;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.9);
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .left-nav{
    
    position: absolute;
    z-index: 1;
    right: 0px;
    height: 50vh;
    top: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.9);
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .left-nav a{
    font-size: 1.2rem;
  }
  .nav-active{
    transform: translateX(0%)
  }
 
 .toggle .line1{
   transform: rotate(-45deg) translate(-5px, 3px)
 }
 .toggle .line2{
    opacity: 0;
 }
 .toggle .line3{
   transform: rotate(45deg) translate(-5px, -3px)
 }
 
  .burger{
    
    display: block;
    cursor: pointer;
  }
  .carousel-item img{
    width: 100vw;
    height: 100vh;
  }
  #slider-section .desktop{
    display: none;
  }
  #slider-section .mobile{
    display: block;
  }
  #freedom-section h2{
    font-size: 1.2rem;
  }
  .freedom-icons__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .freedom-icons__item{
    flex-direction: column;
    align-items: center;
  }
  .freedom-icons__text h4{
    padding-top: 20px;
    font-size: 1.2rem;
  }
  .freedom-icons__text p{
    padding-top: 20px;
    font-size: 1rem;

  }
  hr{
    display: none;
  }
  .download-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .download-container__image img:first-of-type{
     display: none;
  }
  .download-container__image img:last-of-type{
    display: block;
    
  }
  .download-container__image img{
    height: 441px;
    width: 451px;
  }
  
  .download-container__text h3{
    font-size: 1.3rem;
    
  }
  .download-container__text p{
    font-size: 0.9rem;
   
  }
  .download-buttons{
    margin: 0 auto;
    
  }
  #testimonials-section h3{
    font-size: 1.2rem;
  }
  .testimonial-item img{
    height: 167px;
    width: 180px;
  }
  #feedback-section h1{
    font-size: 1.2rem;
  }
  .feedback-icons{
    justify-content: space-evenly;
  }
  .feedback-icons img{
    width: 30px;
    height: 30px;
    padding: 0;
    
  }
  #feedback-section hr{
    display: block;
    width: 300px;
  }
  .footer-container{
    margin: auto;
  }
  .first-footer-container{
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .first-footer-container p{
   
    font-size: 0.8rem;
  }
  .first-footer-container>div{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  .first-footer-container>div div:first-of-type h3{
    font-size: 0.9rem;
  }
  .first-footer-container>div div:first-of-type h2{
    font-size: 1.2rem;
  }
  .first-footer-container>div div:last-of-type h3{
    font-size: 0.9rem;
  }
  .first-footer-container>div div:last-of-type h2{
    font-size: 1.2rem;
  }
  .second-footer-container{
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 20px;
  }
  .second-footer-container>div{
    display: flex;
    justify-content: space-around;
  }
  .second-footer-container-one>div h6{
    font-size: 0.8rem;
  }
  .second-footer-container-one p{
    font-size: 0.8rem;
  }
  .second-footer-container-two>div h6{
    font-size: 0.8rem;
  }
  .second-footer-container-two p{
    font-size: 0.8rem;
  }
  .fourth-footer-container span{
    font-size: 0.8rem;
  }
  .fourth-footer-container ul{
    font-size: 0.8rem;
  }
  .fifth-footer-container span{
    font-size: 0.8rem;
  }
  .fifth-footer-container ul{
    font-size: 0.8rem;
  }
  footer{
    flex-direction: column;
    text-align: center;
  }
  .footer-text{
    padding-top: 60px;
  }
 }

 /* media query for smaller screen phones */
 @media screen and (max-width: 380px){
   body{
     overflow-x: hidden;
   }
   
   .download-container__image img{
     margin: auto;
     width: 318px;
     height: 325px;
   }
   .download-container__text p{
     font-size: 0.7rem;
   }
   .download-buttons img{
     width: 152px;
     height: 90px;
   }
   .testimonial-item p{
     font-size: 0.7rem;
   }
   .footer-container{
    width: 100vw;
  }
  .first-footer-container p{
    font-size: 0.7rem;
    margin-right: 50px;
  }
  .first-footer-container>div{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    margin-right: 40px;
  }
  .second-footer-container>div{
    margin-right: 50px;
  }
 }
 @media screen and (max-width: 320px){
   body{
     overflow-x: hidden;
     }
   
  .first-footer-container p{
    font-size: 0.7rem;
    margin-right: 70px;
  }
  .second-footer-container>div{
    margin-right: 65px;
  }
  
    
  
 }
